@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
}

header .logo img {
  max-width: 150px;
}

.navigation {
  display: flex;
  position: absolute;
  left: 300px;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: #ff000d;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 550px;
}

.mlogo {
  max-width: 30px;
  position: absolute;
  left: 70px;
  top: -50px;
}

.title {
  max-width: 500px;
  padding-bottom: 40px;
}

.banner .content h4 {
  color: #ffff;
  font-weight: 700;
}

.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid white;
}

.banner .content h4 span:first-child {
  border-left: 0;
}

.banner .content h4 i {
  border: 1px solid white;
  padding-right: 6px;
  padding-left: 3px;
  font-style: normal;
}

.banner .content h4 span:last-child {
  border-right: 0;
}

.banner .content p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin: 10px 0 40px;
}

.banner .content .play {
  position: relative;
}

.banner .content .play a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #ff000d;
  color: #fff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner .content .play:hover a {
  background: #ff2933;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  max-width: 900px;
  outline: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  header {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation {
    position: unset;
    min-width: 124px;
    justify-content: center;
  }
  .banner {
    flex-flow: column;
  }
  .content {
    max-width: 270px;
    margin-top: 20px;
  }
  .mlogo {
    top: 124px;
    left: 30px;
  }
  .title {
    max-width: 270px;
    padding-bottom: 40px;
    padding-top: 170px;
  }
  .banner .content .play {
    padding-bottom: 20px;
  }
  .trailer video {
    max-width: 300px;
  }
}
